<!DOCTYPE html>
<html>
    <head>
        {{> header}}
    </head>
    <body>
        <h1>Welcome {{ screamIt userName }}</h1>
        <p>Some text here</p>
        <p>{{ userName }}'s Portfolio</p>
        {{> footer }}
    </body>
</html>